@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
  font-family: 'Anton';
  font-weight: 400;
  src: url(./fonts/Anton-Regular.ttf) format('ttf');
}
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Anton' , 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.open-list{
  max-height: 100%;
}
.close-list{
  max-height: 0;
  
}
.close-list ul{
  overflow: hidden;
}

